{% extends 'wisdom_academy/base.html' %}
{% block content %}
<!-- offset-md-4 
table-bordered border-primary
-->
    {% if user.is_authenticated %}
    <div class="col-md-6  my-5"></div>
    <h5>Student Records</h5>
    <table class="table table-primary table-bordered border-primary table-hover table-striped">
        <thead class="table-success border-primary">
            <tr class="bg-primary">
                <th scope="col">Student Code</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Course</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% if students %}
                {% for student in students %}
                <tr>
                    <td >
                        <a href="{% url 'update' student.id %}">{{ student.student_code }}</a>
                    </td>
                    <td class="w-25">
                        {{ student.student_name }}
                    </td>             
                    <td class="w-25">
                        {{ student.email }}
                    </td>      
                    <td class="w-10">
                        +256 {{ student.phone}}
                    </td> 
                    <td class="w-10" >
                        {{ student.address }}
                    </td>
                    <td class="w-10">
                        <strong class="text-primary align-text-middle">
                            {{ student.course }}
                        </strong>                        
                    </td>
                    <td class="text-center">
                        <a href="{% url 'update' student.id %}" class="btn mx-0">
                            <i class="fa-regular fa-pen-to-square fa-lg" style="color: #05851e;"></i>
                        </a>              
                        <form action="" method="post" class="d-inline mx-0">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                <i class="fa-regular fa-trash-can fa-lg" style="color: #f70202;"></i>
                            </button>
                        </form>                               
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>


    {% else %}
    <div class="col-md-4 offset-md-4 my-5">

    <h2 class="text-primary">
        <span>
            Login
        </span>
    </h2>
    <br>
    <form method="post" action="{% url 'home' %}" autocomplete="off">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label mx-2 ">
                Username
            </label>
            <input type="text" class="form-control rounded" name="username" required placeholder="Enter username" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
         <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label mx-2">
                Password
            </label>
            <input type="password" class="form-control rounded" name="password" required placeholder="Enter password" id="exampleInputPassword1">
          </div>
        <button type="submit" class="btn btn-primary rounded px-4">
            <strong>
                Submit
            </strong>
            </button>
    </form>
    {% endif %}
    
</div>
{% endblock content %}